<!DOCTYPE html>
<html>
<head>
    <title>Chat Everyone</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/sockets.js"></script>
</head>
<body>
    <div id="horizontal-nav">
        <h3>Welcome, <%= username %></h3>
      <div id="buttons-bar">
          <a href="profile.html">
              <input class="buttons" type="button" value="Profile" name="profile">
          </a>
          <a href="history.html">
              <input class="buttons" type="button" value="History" name="history">
          </a>
          <a href="group_chat.html">          
        <input class="buttons" type="button" value="Group Chat" name="group chat">
          </a>
      </div>
    </div>
    <div class="chat" >
        <div class="chat-window-container">
            <div class="chat-background">
            </div>
            <div id="chat-window">
            </div>
        </div>
        <div class="chat-send-container">
            <form id="chat-send" action="#">
                <input name="chatmessage" id="chat-input" />
            </form>
            <button id="chat-send-button" >
                <div>S</div>
                <div>E</div>
                <div>N</div>
                <div>D</div>
            </button>
        </div>

    </div>
    <script>
        window.username = "<%= username %>";
    </script>
</body>
</html>
